# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Secrets
config/.env
*.json
!package.json

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
